*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html , body{
 height: 100%;
 width: 100%;
}
button {
    color: black;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}